<!DOCTYPE HTML>
<html>
	<head>
		<title>All About Pokemon</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel = 'stylesheet' href = '/css/reset.css'/>
		<link rel = 'stylesheet' href = '/css/normalize.css'/>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">	
<body id = 'aboutPage'>

			<header id="header" class = 'flex'>
				<div class = 'primaryHeader'>
					<p>What is</p>
					<h1>Pokemon?</h1>
					<a class = 'button' href = '#discover'>Discover</a>
					<div class = 'vl'></div>
				</div>

			</header>
	<div  class= 'flex column alignItems'>
			<nav id = 'nav' class = 'aboutNav flex justifyContent'>
				<ul id = 'ul' class = 'flex'>
					<li><a href = '/'>Home</a></li>
					<li><a href = '/about'>About</a></li>
					<li><a href = '/anime'>Anime</a></li>
					<li><a href = '/game'>Game</a></li>
					<li><a href = '/manga'>Manga</a></li>
				</ul>
			</nav>
		</div>

			<section id = 'about'>
				<article class = 'about flex column'  id = 'discover' >
					<h2>About Pokemon</h2>
				<p>Pokémon is the name of the franchise, and originally, a series of video games, TV shows and more developed by the company Game Freak and published by Nintendo. The name "Pokémon" is from the shortened katakana form of Pocket Monsters (ポケモン, romanized Pokemon), ポケットモンスター (Poketto Monsutaa) in full in Japanese, although the franchise name may even be shortened to Pokémon as well sometimes. </p>
				</article>
	
                <article class = 'flex row two'>
                    <div class = 'left column flex'>
                        <img src = '/conquest.jpg' alt = ''/>
                        <img src = '/conquest1.jpg' alt = ''/>
                    </div>
                    <div class = 'right column flex'>
                <h2>Concept</h2>
            <p>The concept of the Pokémon universe, in both the video games and the general fictional world of Pokémon, stems from the hobby of insect collecting, a popular pastime which Tajiri enjoyed as a child. </p>
            <p>Players are designated as Pokémon Trainers and have three general goals: to complete the regional Pokédex by collecting all of the available Pokémon species found in the fictional region where a game </p>
            <p>takes place, to complete the national Pokédex by transferring Pokémon from other regions, and to train a team of powerful Pokémon from those they have caught to compete against teams owned by other </p>
            <p>Trainers so they may eventually win the Pokémon League and become the regional Champion. These themes of collecting, training, and battling are present in almost every version of the Pokémon franchise, </p>
            <p>including the video games, the anime and manga series, and the Pokémon Trading Card Game (TCG).</p>
            
                    </div>
                </article>

			</section>


<footer class = 'flex row'>
	<ul class = 'flex row'>
	<li><a target="_blank" href="https://twitter.com/choir241"><i class="fa-brands fa-twitter"></i></a></li>
	<li><a target="_blank" href="https://www.facebook.com/richard.choi.54772about?section=bio&lst=100052959996942%3A100052959996942%3A1593271248"><i class="fa-brands fa-facebook-f"></a></i></li>
	<li><a target="_blank" href="https://www.instagram.com/225kh_drw/hl=en"><i class="fa-brands fa-instagram"></i></a></li>
	<li><a target="_blank" href="https://github.com/choir27"><i class="fa-brands fa-github"></i></a></li>
	<li class = 'flex row'><small>&copy; choir24 Design: <a href="http://html5up.net">HTML5 UP</a></small></li>

	</ul>

				</ul>
			</footer>
			<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
	</body>
</html>

<!-- <p>I'm currently accepting new freelance clients!</p>
<p>Email me at richardchoi54@gmail.com</p>
<p>Or you can also shoot me a quick message here!</p>
<form netlify method="post" action="#" netlify-honeypot="bot-field" data-netlify="true">
<p class="hidden">
	<label>Don't fill this out if you're human: <input name="bot-field" /></label>
</p>
	<label for="name">Name</label>
	<input type="text" name="name" id="name" />
	<label for="email">Email</label>
	<input type="text" name="email" id="email" />
	<label for="message">Message</label>
	<textarea name="message" id="message" rows="3"></textarea>
	<input type="submit" value="Send Message" />
</form> -->

