<p>Starring the main protagonist Ash Ketchum with his life long partner Pikachu, the television series focuses on Ash catching various types of Pokemon with his traveling friends while encountering bizarre adventures during his never-ending quest for Pokemon Master.</p>
