<!DOCTYPE HTML>
<html>
	<head>
		<title>All About Pokemon</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel = 'stylesheet' href = '/css/reset.css'/>
		<link rel = 'stylesheet' href = '/css/normalize.css'/>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">	
<body id = 'games'>

			<header id="header" class = 'flex'>
				<div class = 'primaryHeader'>
					<p>The Website All About </p>
					<h1>Pokemon</h1>
					<a class = 'button' href = '#discover'>Discover</a>
					<div class = 'vl'></div>
				</div>
			</header>
			<nav id = 'nav' class = 'flex justifyContent'>
				<ul id = 'ul' class = 'flex'>
					<li><a href = '/'>Home</a></li>
					<li><a href = '/about'>About</a></li>
					<li><a href = '/anime'>Anime</a></li>
					<li><a href = '/game'>Game</a></li>
					<li><a href = '/manga'>Manga</a></li>
				</ul>
			</nav>

<section class = 'games flex column alignItems'>
<blockquote title = 'https://pokemon.fandom.com/wiki/Pok%C3%A9mon_(franchise)'>
	<section>
	<a target = '_blank' href = 'https://c.tenor.com/R6fMeiHJE5UAAAAC/choose-your-starter-pokemon-pokemon-black-and-white.gif'><img src = 'https://c.tenor.com/R6fMeiHJE5UAAAAC/choose-your-starter-pokemon-pokemon-black-and-white.gif'></a>
	<p>The main Pokémon games all center around the strategic manipulation of creatures called Pokémon, from which the series takes its name. In the games, the player takes the role of a male or female human who has just received a license to catch Pokémon. The player usually goes to the local Pokémon Lab to receive a First partner Pokémon. In every main series game, the player is given a choice of three Pokémon; a Grass-type, a Fire-type, or a Water-type. A person possessing a Pokémon that trains it is called a Pokémon Trainer.</p>
	<a target = '_blank' href = 'https://static.wikia.nocookie.net/pokemon/images/1/1e/Kanto_Gym_Badges_%28Let%27s_Go%29.png/revision/latest/scale-to-width-down/1200?cb=20190607223558'><img src = '/badges.webp'></a>
	<p>Using their first Pokémon, players are now usually free to set off on their own adventure, in which they will collect Badges by defeating Gym Leaders. Once the player has collected eight badges, they can battle the Elite Four; four representatives of the Pokémon League that are considered the best Trainers in their respective region.</p>
	<a target = '_blank' href = 'https://www.mobygames.com/images/shots/l/509840-pokemon-soulsilver-version-nintendo-ds-screenshot-pokedex.png'><img src = '/pokedex.png'></a>
	<p>Another goal of the game is to try to catch every Pokémon available; in the first Generation, there were 151 Pokémon available, but with every new Generation the number of Pokémon increases. Currently, there are 898 known Pokémon, and eight regions/generations, with the possibility of more being introduced in every new Generation.</p>
	<a target = '_blank' href = 'https://www.researchgate.net/profile/Hiroyuki-Iida-4/publication/309476022/figure/fig1/AS:421781862391811@1477572040623/A-screenshot-of-Pokemon-Emerald.png'><img src = '/battle.png'></a>
	<p>Pokémon can be caught by weakening them with other Pokémon, and then capturing them in a Poké Ball, where they can be stored for future use, to battle and help capture more Pokémon. Each Pokémon has a health gauge, and whomever gauge runs out first loses; however, a trainer can have several Pokémon, so if one Pokémon's gauge reaches zero (called "Fainting"), they can send out another Pokémon. Each trainer can carry a maximum of 6 Pokémon although many more can be caught and stored in a PC. In order to try to knock out the opposing Pokémon, order your Pokémon to attack the opposing team's Pokémon. Pokémon can learn up to four attacks, although there are many more attacks that they are capable of learning, so you can replace one of your moves when they are ready to learn a move. When all of a Trainer's Pokémon have fainted, the trainer must depart to a Pokémon Center and give up an amount of money.</p>
	<a target = '_blank' href = 'https://pa1.narvii.com/5871/4c7cc2e91ad3945465ad4373c206e7e96f3ec562_00.gif'><img src = 'https://pa1.narvii.com/5871/4c7cc2e91ad3945465ad4373c206e7e96f3ec562_00.gif'></a>
	<p>In the beginning, there were only the video games, covering only the basic concepts of Pokemon.  As the series evolved, different game implementations such as Mega Evolutions, the day and night cycle, RollarSkates and many more were added and removed to the games.</p>
	
	</section>
</blockquote>
		<a href = '/prices' class = 'flex justifyContent alignItems button'>Game Prices</a>
	
		
	</section>
	


		




<footer class = 'flex row'>
	<ul class = 'flex row'>
	<li><a target="_blank" href="https://twitter.com/choir241"><i class="fa-brands fa-twitter"></i></a></li>
	<li><a target="_blank" href="https://www.facebook.com/richard.choi.54772about?section=bio&lst=100052959996942%3A100052959996942%3A1593271248"><i class="fa-brands fa-facebook-f"></a></i></li>
	<li><a target="_blank" href="https://www.instagram.com/225kh_drw/hl=en"><i class="fa-brands fa-instagram"></i></a></li>
	<li><a target="_blank" href="https://github.com/choir27"><i class="fa-brands fa-github"></i></a></li>
	<li class = 'flex row'><small>&copy; choir24 Design: <a href="http://html5up.net">HTML5 UP</a></small></li>

	</ul>

				</ul>
			</footer>
			<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
	</body>
</html>


<!-- <p>I'm currently accepting new freelance clients!</p>
<p>Email me at richardchoi54@gmail.com</p>
<p>Or you can also shoot me a quick message here!</p>
<form netlify method="post" action="#" netlify-honeypot="bot-field" data-netlify="true">
<p class="hidden">
	<label>Don't fill this out if you're human: <input name="bot-field" /></label>
</p>
	<label for="name">Name</label>
	<input type="text" name="name" id="name" />
	<label for="email">Email</label>
	<input type="text" name="email" id="email" />
	<label for="message">Message</label>
	<textarea name="message" id="message" rows="3"></textarea>
	<input type="submit" value="Send Message" />
</form> -->
