<!DOCTYPE HTML>
<html>
	<head>
		<title>All About Pokemon - Game</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel = 'stylesheet' href = '/css/reset.css'/>
		<link rel = 'stylesheet' href = '/css/normalize.css'/>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">	
<body>

			<header id="header" class = 'flex'>
				<div class = 'primaryHeader'>
					<p>The Website All About </p>
					<h1>Pokemon</h1>
					<a class = 'button' href = '#discover'>Discover</a>
					<div class = 'vl'></div>
				</div>
			</header>

<section class = 'one'>
<p>In the beginning, there were only the video games, covering only the basic concepts of Pokemon.  As the series evolved, different game implementations such as Mega Evolutions, the day and night cycle, RollarSkates and many more were added and removed to the games.</p>
<a href = '/prices' class = 'button'>Game Prices</a>
</section>

<footer class = 'flex row'>
	<ul class = 'flex row'>
	<li><a target="_blank" href="https://twitter.com/choir241"><i class="fa-brands fa-twitter"></i></a></li>
	<li><a target="_blank" href="https://www.facebook.com/richard.choi.54772about?section=bio&lst=100052959996942%3A100052959996942%3A1593271248"><i class="fa-brands fa-facebook-f"></a></i></li>
	<li><a target="_blank" href="https://www.instagram.com/225kh_drw/hl=en"><i class="fa-brands fa-instagram"></i></a></li>
	<li><a target="_blank" href="https://github.com/choir27"><i class="fa-brands fa-github"></i></a></li>
	<li class = 'flex row'><small>&copy; choir24 Design: <a href="http://html5up.net">HTML5 UP</a></small></li>

	</ul>

				</ul>
			</footer>
			<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
	</body>
</html>

<!-- <p>I'm currently accepting new freelance clients!</p>
<p>Email me at richardchoi54@gmail.com</p>
<p>Or you can also shoot me a quick message here!</p>
<form netlify method="post" action="#" netlify-honeypot="bot-field" data-netlify="true">
<p class="hidden">
	<label>Don't fill this out if you're human: <input name="bot-field" /></label>
</p>
	<label for="name">Name</label>
	<input type="text" name="name" id="name" />
	<label for="email">Email</label>
	<input type="text" name="email" id="email" />
	<label for="message">Message</label>
	<textarea name="message" id="message" rows="3"></textarea>
	<input type="submit" value="Send Message" />
</form> -->
