<p>Centering around the protagonists of their respective Pokemon generation and games, the manga series follows similar events from the Pokemon video games, but have a more darker and serious tone while keeping its comedical charm.</p>
