<!DOCTYPE HTML>
<html>
	<head>
		<title>All About Pokemon - Prices</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel = 'stylesheet' href = '/css/reset.css'/>
		<link rel = 'stylesheet' href = '/css/normalize.css'/>
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">	
<body>

			<header id="header" class = 'flex'>
				<div class = 'primaryHeader'>
					<p>The Website All About </p>
					<h1>Pokemon</h1>
					<a class = 'button' href = '#discover'>Discover</a>
					<div class = 'vl'></div>
				</div>
			</header>


<section class = 'four flex column'>

	<h2>Pokemon Main HandHeld Games</h2>

		<table id = 'table'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Generation</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Red/Blue/Yellow</td>
					<td>The original first game, with bare basic mechanics</td>
					<td>One</td>
				</tr>
				<tr>
					<td>Gold/Silver/Crystal</td>
					<td>Introduced color, day/night cycle, and breeding</td>
					<td>Two</td>
				</tr>
				<tr>
					<td>Sapphire/Ruby/Emerald</td>
					<td>Introduced Battle Frontier Post Game</td>
					<td>Three</td>
				</tr>
				<tr>
					<td>FireRed/LeafGreen</td>
					<td>The original games remade with GBA graphics and updated mechanics</td>
					<td>One</td>
				</tr>
				<tr>
					<td>Diamond/Pearl/Platinum</td>
					<td>Introduced special/physical attack split</td>
					<td>Four</td>
				</tr>
				<tr>
					<td>SoulSilver/Heartgold</td>
					<td>Generation 2 remade with DS graphics and updated mechanics</td>
					<td>Two</td>
				</tr>
				<tr>
					<td>Black/White/Black2/White2</td>
					<td>Introduced different camera angles and unlimited TMs</td>
					<td>Five</td>
				</tr>
				<tr>
					<td>X/Y</td>
					<td>Introduced Mega Evolution, RollarSkates, and Poke Amie</td>
					<td>Six</td>
				</tr>
				<tr>
					<td>Omega Ruby/Omega Sapphire</td>
					<td>Generation 3 remade with 3DS graphics and updated mechanics</td>
					<td>Three</td>
				</tr>
				<tr>
					<td>Sun/Moon/Ultra Sun/Ultra Moon</td>
					<td>Made HMs unnecessary, save with one click, and z-moves</td>
					<td>Seven</td>
				</tr>
				<tr>
					<td>Pokemon Lets Go Eevee/Pikachu</td>
					<td>Generation 1 remade with Switch graphics and updated mechanics</td>
					<td>One</td>
				</tr>
				<tr>
					<td>Shining Pearl/Brilliant Diamond/</td>
					<td>Generation 4 remade with Switch graphics and updated mechanics</td>
					<td>Four</td>
				</tr>
				<tr>
					<td>Sword/Shield/Legend of Arceus</td>
					<td>Introduced Dynamax, free-roaming, and gigantamax</td>
					<td>Eight</td>
				</tr>
			</tbody>
		</table>
</section>


<footer class = 'flex row'>
	<ul class = 'flex row'>
	<li><a target="_blank" href="https://twitter.com/choir241"><i class="fa-brands fa-twitter"></i></a></li>
	<li><a target="_blank" href="https://www.facebook.com/richard.choi.54772about?section=bio&lst=100052959996942%3A100052959996942%3A1593271248"><i class="fa-brands fa-facebook-f"></a></i></li>
	<li><a target="_blank" href="https://www.instagram.com/225kh_drw/hl=en"><i class="fa-brands fa-instagram"></i></a></li>
	<li><a target="_blank" href="https://github.com/choir27"><i class="fa-brands fa-github"></i></a></li>
	<li class = 'flex row'><small>&copy; choir24 Design: <a href="http://html5up.net">HTML5 UP</a></small></li>

	</ul>

				</ul>
			</footer>
			<script src="https://kit.fontawesome.com/d0e0071c1c.js" crossorigin="anonymous"></script>
	</body>
</html>

<!-- <p>I'm currently accepting new freelance clients!</p>
<p>Email me at richardchoi54@gmail.com</p>
<p>Or you can also shoot me a quick message here!</p>
<form netlify method="post" action="#" netlify-honeypot="bot-field" data-netlify="true">
<p class="hidden">
	<label>Don't fill this out if you're human: <input name="bot-field" /></label>
</p>
	<label for="name">Name</label>
	<input type="text" name="name" id="name" />
	<label for="email">Email</label>
	<input type="text" name="email" id="email" />
	<label for="message">Message</label>
	<textarea name="message" id="message" rows="3"></textarea>
	<input type="submit" value="Send Message" />
</form> -->
